{%- from "macros.html" import addDetailsHTML -%}
{%- from "macros.html" import addDetailsUrlHTML -%}
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<br>
<div class="container">
<div class="container-fluid text-sm-left p-5 bg-light">
<h1>Vulnerability Report</h1>

<h2>This report was automaticly generated based on the vulnerabilities specification of a <a href="https://sarifweb.azurewebsites.net">SARIF</a> file.<h3>
</div>
<br>
<div class="container-fluid text-sm-left p-5 bg-light">
<h3>Tool information <h3>

<h5>Name: {{ tool["name"] }}</h5>
{%+ if "fullName" in tool -%}
<h5>Full name: {{ tool["fullName"] }}</h5>
{%+ endif %}
{%+ if "informationUri" in tool -%}
<h5>Information Uri: <a href="{{ tool['informationUri'] }}">{{ tool["informationUri"] }}</a></h5>
{%+ endif %}
{%+ if "downloadUri" in tool -%}
<h5>Information Uri: <a href="{{ tool['downloadUri'] }}">{{ tool['downloadUri'] }}</a></h5>
{%+ endif %}
{%+ if "version" in tool -%}
<h5>Version: {{ tool["version"] }}</h5>
{%+ endif %}
{%+ if "semanticVersion" in tool -%}
<h5>Semantic version: {{ tool["semanticVersion"] }}</h5>
{%+ endif %}
</div>
<br>
<div class="container-fluid text-sm-left p-5 bg-light">
<h2>Vulnerabilities <h2>


{%+ for vuln in results -%}
{%+ if vuln["level"] == "error" -%}
<div class="container-fluid text-sm-left p-5" style="background-color:#FFA390">
{%+ elif vuln["level"] == "warning" -%}
<div class="container-fluid text-sm-left p-5" style="background-color:#FFE690">
{%+ else -%}
<div class="container-fluid text-sm-left p-5" style="background-color:#90F7FF">
{%+ endif %}
<h4>{{ vuln["message"]["text"] }}<h4>

{%+ if "locations" in vuln -%}
<h5>Locations<h5>
<div class="container">
{%+ for l in vuln["locations"]-%}
{%+ if "physicalLocation" in l -%}
<h6>Physical Location</h6>
{%+ if "artifactLocation" in l["physicalLocation"] -%}
<h6>- {{ l["physicalLocation"]["artifactLocation"]["uri"] }}</h6>
{%+ endif %}
{%+ endif %}
{%+ if "region" in l["physicalLocation"] -%}
{%+ if "startLine" in l["physicalLocation"]["region"] -%}
<h6>- Line {{ l["physicalLocation"]["region"]["startLine"] }}</h6>
{%+ endif %}
{%+ if "snippet" in l["physicalLocation"]["region"] and l["physicalLocation"]["region"]["snippet"]["text"] != ""  -%}
<pre><code>{{ l["physicalLocation"]["region"]["snippet"]["text"].strip()|safe }}</code></pre>
{%+ endif %}
{%+ endif %}
{%+ if "logicalLocations" in l -%}
<h6>Logical Locations</h6>
{%+ for logic in l["logicalLocations"] -%}
<h6>- {{ logic["name"] }}</h6>
{%+ endfor %}
{%+ endif %}
{%+ endfor %}
{%+ endif %}
</div>

{%+ if "level" in vuln -%}
<h5>Level</h5>
<div class="container">
<h6>- {{ vuln["level"].capitalize() }}</h6>
</div>
{%+ endif %}

{%+ if "properties" in vuln -%}
<h5>Properties</h5>
{%+ for p in vuln["properties"] -%}
{%+ if vuln["properties"][p] is string -%}
<div class="container">
<h6>{{ addDetailsHTML(p.capitalize(), vuln["properties"][p]) }}</h6>
</div>
{%+ endif %}
{% endfor %}
{%+ endif %}

<h5>Rule Information<h5>
<div class="container">

<h6><details>
<summary>Rule Id</summary>
<br>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ vuln["ruleId"] }}</p>
</details></h6>

{%+ if "helpUri" in rules[vuln["ruleId"]] -%}
<h6>{{ addDetailsUrlHTML("Help Uri", rules[vuln["ruleId"]]["helpUri"]) }}</h6>
{%+ endif %}
{%+ if "shortDescription" in rules[vuln["ruleId"]] -%}
<h6>{{ addDetailsHTML("Short Description", rules[vuln["ruleId"]]["shortDescription"]["text"]) }}</h6>
{%+ endif %}
{%+ if "fullDescription" in rules[vuln["ruleId"]] -%}
<h6>{{ addDetailsHTML("Full Description", rules[vuln["ruleId"]]["fullDescription"]["text"]) }}</h6>
{%+ endif %}
{%+ if "properties" in rules[vuln["ruleId"]] -%}
{%+ for p in rules[vuln["ruleId"]]["properties"] -%}
{%+ if rules[vuln["ruleId"]]["properties"][p] is string -%}
<h6>{{ addDetailsHTML(p.capitalize(), rules[vuln["ruleId"]]["properties"][p]) }}</h6>
{%+ endif %}
{%+ endfor %}
{%+ endif %}
{%+ if "help" in rules[vuln["ruleId"]] -%}
<h6>{{ addDetailsHTML("Help", rules[vuln["ruleId"]]["help"]["text"]) }}</h6>
{%+ endif %}
</div>
</div>
<br>

{% endfor %}
</div>
</div>
<br>
</body>
</html>