{%- from "macros.html" import addDetailsMD -%}
{%- from "macros.html" import addDetailsUrlMD -%}
# Vulnerability Report

This report was automaticly generated based on the vulnerabilities specification of a [SARIF](https://sarifweb.azurewebsites.net) file.

## Tool information

> Name: {{ tool["name"] }}

{%+ if "fullName" in tool -%}
> Full name: {{ tool["fullName"] }}
{%+ endif %}
{%+ if "informationUri" in tool -%}
> Information Uri: [{{ tool["informationUri"] }}]({{ tool["informationUri"] }})
{%+ endif %}
{%+ if "downloadUri" in tool -%}
> Information Uri: [{{ tool["downloadUri"] }}]({{ tool["downloadUri"] }})
{%+ endif %}
{%+ if "version" in tool -%}
> Version: {{ tool["version"] }}
{%+ endif %}
{%+ if "semanticVersion" in tool -%}
> Semantic version: {{ tool["semanticVersion"] }}
{%+ endif %}

---

## Vulnerabilities

---

{%+ for vuln in results -%}
{{ vuln["message"]["text"] }}

{%+ if "locations" in vuln -%}
### Locations
{%+ for l in vuln["locations"]-%}
{%+ if "physicalLocation" in l -%}
#### **Physical Location**
{%+ if "artifactLocation" in l["physicalLocation"] -%}
- {{ l["physicalLocation"]["artifactLocation"]["uri"] }}
{%+ endif %}
{%+ endif %}
{%+ if "region" in l["physicalLocation"] -%}
{%+ if "startLine" in l["physicalLocation"]["region"] -%}
- Line {{ l["physicalLocation"]["region"]["startLine"] }}
{%+ endif %}
{%+ if "snippet" in l["physicalLocation"]["region"] and l["physicalLocation"]["region"]["snippet"]["text"] != ""  -%}
```
{{ l["physicalLocation"]["region"]["snippet"]["text"].strip()|safe }}
```
{%+ endif %}
{%+ endif %}
{%+ if "logicalLocations" in l -%}
#### **Logical Locations**
{%+ for logic in l["logicalLocations"] -%}
- {{ logic["name"] }}
{%+ endfor %}
{%+ endif %}
{%+ endfor %}
{%+ endif %}

{%+ if "level" in vuln -%}
### Level

- {{ vuln["level"].capitalize() }}
{%+ endif %}

{%+ if "properties" in vuln -%}
### Properties
{%+ for p in vuln["properties"] -%}
{%+ if vuln["properties"][p] is string -%}
{{ addDetailsMD(p.capitalize(), vuln["properties"][p]) }}
{%+ endif %}
{% endfor %}
{%+ endif %}

### Rule Information

+ <details>
  <summary>Rule Id</summary>
  <br>
    {{ vuln["ruleId"] }}
  </details>

{%+ if "helpUri" in rules[vuln["ruleId"]] -%}
{{ addDetailsUrlMD("Help Uri", rules[vuln["ruleId"]]["helpUri"]) }}
{%+ endif %}
{%+ if "shortDescription" in rules[vuln["ruleId"]] -%}
{{ addDetailsMD("Short Description", rules[vuln["ruleId"]]["shortDescription"]["text"]) }}
{%+ endif %}
{%+ if "fullDescription" in rules[vuln["ruleId"]] -%}
{{ addDetailsMD("Full Description", rules[vuln["ruleId"]]["fullDescription"]["text"]) }}
{%+ endif %}
{%+ if "properties" in rules[vuln["ruleId"]] -%}
{%+ for p in rules[vuln["ruleId"]]["properties"] -%}
{%+ if rules[vuln["ruleId"]]["properties"][p] is string -%}
{{ addDetailsMD(p.capitalize(), rules[vuln["ruleId"]]["properties"][p]) }}
{%+ endif %}
{%+ endfor %}
{%+ endif %}
{%+ if "help" in rules[vuln["ruleId"]] -%}
{{ addDetailsMD("Help", rules[vuln["ruleId"]]["help"]["text"]) }}
{%+ endif %}


---

{% endfor %}
